.products-container {
  width: 100vw;
  height: auto;
  padding: 40px 0;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.products-container .title {
  text-align: center;
  font-size: 4rem;
  color: #811edd;
}
