.product {
  width: 400px;
  height: auto;
  min-width: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: lightgray;
}

.product-link {
  color: #811edd;
  text-decoration: none;
}

.product-info {
  display: flex;
  justify-content: space-between;
}
