.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #811edd;
  color: #ffffff;
  padding: 0.5rem;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  color: blue;
}

.cart-link {
  margin-right: 20px;
}

.fa-cart-plus {
  color: #ffffff;
}
